@import "antd/dist/antd.css";
@import "../styles/variables.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

body {
  font-family: $mainFont;
  color: $darkTextColor;
}

.container {
  max-width: 1380px;
  margin: auto;
}

.app {
  background-color: $lightBG;
  min-height: 100vh;
  display: grid;
  align-content: space-between;
}

hr {
  border: 1px solid $borderColor;
}

input {
  outline: none !important;
  border: none !important;
}

.ant-layout-header {
  padding: 90px 30px 0;
  height: unset;
  line-height: unset;
  background: inherit;
}

.ant-layout {
  background: local;
}

.ant-layout-footer {
  padding: 0;
  background-color: $white;
  align-items: center;
}

.ant-card {
  background: inherit;
  width: 50%;
  margin: auto;
  &-bordered {
    border: none;
  }
}
