@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Rubik:wght@300;400;500&display=swap");

// Fonts
$mainFont: "Rubik", sans-serif;
$secondFont: "Roboto", sans-serif;

// Fonts sizes
$titleSize: 20px;
$textSize: 18px;
$smallSize: 14px;

// Palette
$lightBG: #f8fafb;
$white: #fff;
$blue: #4d7cfe;

$darkTextColor: #252631;
$footerTextColor: #98a9bc;
$lightTextColor: #778ca2;
