@import "../../styles/variables.scss";

.sider {
  background: $white;
  border-radius: 4px;
  margin-bottom: 30px;
  margin-left: 30px;
  min-height: 750px;
  width: 100%;

  &-wrap {
    padding: 20px 30px;

    .link-with-icon {
      color: $lightTextColor;
    }
  }
}

.ant-input,
.ant-picker {
  padding: 0 !important;
}

.input-title {
  font-size: $titleSize !important;
}

.input-block,
.chekbox-block {
  display: grid !important;

  .ant-form-item-label {
    text-align: left;
    margin-bottom: 10px;

    label {
      font-size: $textSize;
    }
  }
}

.input-block {
  margin-bottom: 30px !important;
}

.chekbox-block {
  margin-bottom: 0 !important;
}

.addMore {
  margin-bottom: 30px !important;
}

.tegs {
  .ant-radio-button-wrapper {
    opacity: 0.2;
  }
  .ant-radio-button-wrapper-checked {
    opacity: 1;
    box-shadow: none !important;
  }
}

.due .ant-form-item-label label {
  font-size: $smallSize;
  color: $placeholderColor;
}

.ant-picker-suffix {
  margin: 0 15px 2px 0 !important;
}

textarea.ant-input {
  padding: 5px 0 !important;
  border: none;
  resize: none;
  overflow: hidden;
}

.ant-checkbox-group {
  display: grid !important;
}

.ant-checkbox-wrapper {
  margin-left: 0 !important;
}
