@import "../../styles/variables.scss";

.sider {
  background: $white;
  border-radius: 4px;
  margin-bottom: 30px;
  height: 700px;

  &-wrap {
    padding: 20px 30px;

    .link-with-icon {
      color: $lightTextColor;
    }
  }
}

.ant-input,
.ant-picker {
  padding: 0 !important;
}

.input-title {
  font-size: $titleSize !important;
}

.input-block {
  display: grid !important;
  margin-bottom: 30px !important;

  .ant-form-item-label {
    text-align: left;
    margin-bottom: 10px;

    label {
      font-size: $textSize;
    }
  }
}

.due .ant-form-item-label label {
  font-size: $smallSize;
  color: $placeholderColor;
}

.ant-picker-suffix {
  margin: 0 15px 2px 0 !important;
}

textarea.ant-input {
  padding: 5px !important;
}
