@import "../../styles/variables.scss";

.ant-picker-input {
  flex-direction: row-reverse;

  input {
    font-size: $extraSmallSize !important;

    &::placeholder {
      color: $placeholderColor !important;
      font-size: $extraSmallSize !important;
    }
  }
}

.ant-picker-disabled {
  background: inherit !important;
  cursor: default !important;

  input[disabled] {
    color: inherit !important;
    cursor: default !important;
  }
}

.ant-picker-suffix {
  color: $darkTextColor !important;
}

.ant-picker-clear {
  right: -8px !important;
  top: calc(50% - 1px) !important;
  color: $blue !important;
}
