@import "../../styles/variables.scss";

.link-with-icon {
  display: flex;
  align-items: flex-end;
  font-size: $extraSmallSize;
  font-weight: 500;

  svg {
    margin-right: 10px;
    width: 1.25em;
    height: 1.25em;
  }
}
