@import "../../styles/variables.scss";

.ant-card {
  img {
    width: 100%;
    margin-bottom: 40px;
  }

  &-body {
    text-align: center;
    margin: 0 40px 40px;
  }

  &-meta-title {
    font-size: $titleSize !important;
    margin-bottom: 10px !important;
  }

  &-meta-description {
    color: $lightTextColor !important;
    font-size: $textSize;
    font-weight: 300;
    line-height: 25px;
  }
}
