* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Urbanist", sans-serif;
}

.app {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  max-width: 1170px;
  margin: auto;
}

input {
  outline: none;
  border: none;

  &::placeholder {
  }
}
